* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f14;
  overflow-x: hidden;
  width: 100%;
}

#root {
  width: 100%;
  max-width: 100% !important;
  border: none !important;
  margin: 0 !important;
  text-align: left;
}